version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: frien-postgres
    ports:
      - "55432:5432"
    environment:
      POSTGRES_DB: chatdb
      POSTGRES_USER: chatuser
      POSTGRES_PASSWORD: chatpass
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
